<!DOCTYPE html>
<html lang="en">
<head>
	{{> _html-header title="Army Doctrine Library - Home" }}
</head>
<body>
	{{> _header }}
	<main>
		<div class="section container">
            {{!-- {{> _hero-banner content="_search"}} --}}
        </div>	 
	</main>
	{{> _footer }}
	{{!-- <script src="js/testing-lib.js"></script> --}}
</body>
</html>