<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
</head>
<body>
	{{#block "main"}}{{/block}}
	
</body>
</html>