<form novalidate class="needs-validation">
<p><strong>* TEXT INPUT</strong></p>
<!--separator--> <p>&nbsp;</p>
{{!-- 
    WIKI
    
    ## REGEX types e.g(data-regex="regx4") => .text-input element
    0 =	None (Default)
    1 =	a-z, A-Z and special character
    2 = 0-9
    3 =	0-9 and “-“
    4 =	Email

    ## REGEX message e.g(data-regex-msg="Message for regex validation") => .text-input element

    ## MAX LENGTH e.g(maxlength="12") => input element

 --}}
<div class="text-input form-group" data-regex="1" data-regex-msg="This is a regex message">
    <label for="testinput">Text</label>
    <input type="text" class="form-control" id="testinput" placeholder="Im a placeholder" name="" required maxlength="">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
    <div class="invalid-feedback">This is required.</div>
</div>

<div class="text-input tel-num form-group" data-regex="2" data-regex-msg="Numbers Only">
    <label for="tel1">TEL INPUT</label>
    <div class="mxs-tel">
        <span class="placeholder-number">60</span>
        <input type="text" class="form-control" name="" id="tel0" placeholder="">
    </div>
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
</div>

<div class="text-input form-group" data-regex="4" data-regex-msg="Invalid email address">
    <label for="testemailt">Email</label>
    <input type="email" class="form-control" id="testemailt0" placeholder="Im a placeholder" name="" required maxlength="10">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
    <div class="invalid-feedback">Email is required.</div>
</div>

<div class="text-input ic-num form-group"  data-regex="3" data-regex-msg="Invalid nric format">
    <label for="icnumber">NRIC INPUT</label>
    <input type="text" class="form-control" id="icnumber0" name="" placeholder="Im a placeholder">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
</div>

<div class="text-input form-group" data-regex="0" data-regex-msg="">
    <label for="testpass">Password</label>
    <input type="password" class="form-control" id="testpass" placeholder="Im a placeholder" name="" required maxlength="">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
</div>

<!--separator--> <p>&nbsp;</p>
<div class="submit-btn">
        <button class="btn btn-secondary" type="submit">Submit now</button>
    </div>
</form>

<div class="text-input form-group" data-regex="" data-regex-msg="">
    <label for="testinput2">Disabled</label>
    <input type="text" class="form-control" id="testinput2" placeholder="Im a placeholder" name="" disabled maxlength="">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
</div>

<div class="text-input form-group invalid" data-regex="0" data-regex-msg="">
    <label for="testinput3">Name</label>
    <input type="text" class="form-control" id="testinput3" placeholder="Im a placeholder" name="" value="field input error" required maxlength="">
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
    <div class="invalid-feedback">Please choose a username.</div>
</div>



<div class="text-input form-group">
    <label for="textarea1">TEXTAREA</label>
    <textarea class="form-control" id="textarea1" name="" rows="3" required></textarea>
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
    <div class="invalid-feedback">Please fill.</div>
</div>


<div class="text-input form-group invalid">
    <label for="textarea2">TEXTAREA INVALID</label>
    <textarea class="form-control" id="textarea2" name="" rows="3" required></textarea>
    <small>Text sample with <strong>bold</strong>, <em>italic</em> and <u>underline</u>.</small>
    <div class="invalid-feedback">This is required.</div>
</div>

