<header>
    <div class="section container d-flex justify-content-between">
        <div class="logo"><a href=""><img src="/resources/img/army-logo.png" alt=""></a></div>
        <div class="navi">
            {{> _nav }}
        </div>
    </div>
</header>

