<meta charset="utf-8" />
<title>{{ meta.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ meta.description }}" />
<meta name="robots" content="NOODP, index, follow" />
<meta itemprop="name" content="{{ meta.title }}">
<meta itemprop="description" content="{{ meta.description }}">
<meta itemprop="image" content="{{ meta.image }}"> 
<!-- Open Graph data (Facebook) -->
<meta property="og:title" content="{{ meta.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ meta.url }}/" />
<meta property="og:image" content="{{ meta.facebook_image }}" />
<meta property="og:description" content="{{ meta.description }}" /> 
<!-- Standard Icons -->
<!--<link rel="icon" type="image/png" href="/img/favicon/favicon-196x196.png" sizes="196x196" />-->
<!--<link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />-->
<!--<link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />-->
<!--<link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16" />-->
<!--<link rel="icon" type="image/png" href="/img/favicon/favicon-128.png" sizes="128x128" />-->
 
<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">