<nav>
    <ul>
        <li>Are you looking for?</li>
        <li><a href="">Army <i class="fas fa-angle-right"></i></a></li>
        <li><a href="">Department of Defence </a></li>
        <li><a href="">Navy </a></li>
        <li><a href="">Airforce </a></li>
    </ul>
</nav>