@import "~bootstrap/scss/bootstrap";

html, body {
	margin: 0;
	padding: 0;
	font-family: $helveticalRoman;
	background-color: #fff;
	font-size: 14px;
}
 
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $helveticalMedium;
}
p,
span {
	line-height: 1;
}
a{
	text-decoration: none; 
} 
input, textarea, select {
	font-family: $helveticalRoman;
}
 
header, footer {

}
.section{
    margin-left: auto;
    margin-right: auto;
    &.container {

    }
}