// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import "_custom-icons";
@font-face {
    font-family: 'Helvetica Neue LT Std Light';
    src: url('/resources/fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'), url('/resources/fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std Medium';
    src: url('/resources/fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'), url('/resources/fonts/HelveticaNeueLTStd-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std Roman';
    src: url('/resources/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'), url('/resources/fonts/HelveticaNeueLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




$helveticalRoman: 'Helvetica Neue LT Std Roman', sans-serif !important;
$helveticalMedium: 'Helvetica Neue LT Std Medium', sans-serif !important;
$helveticalLight: 'Helvetica Neue LT Std Light', sans-serif !important;