header {
    background: #000;
    border-bottom: 6px solid #db2032;
    min-height: 124px;
    .logo img {
        margin-top: 38px;
    }
    nav {
        ul {
            li {
                display: inline-block;
                font-family: $helveticalMedium;
                font-size: 16px;
                color: #bfbfbf;
            }
        }
    }
}